@charset "utf-8";
/* CSS Document */

p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-stretch:30%;
}

.small{
	font-size:15px;
	display:inline;	
}

.Descp{
	display:inline;	
}

.FieldsLogINUP{
	border-radius:2px;
	box-shadow:none;
	border-color:rgba(183,183,183,1);
	margin-left:25%;
	height:30px;
	width:50%;
	float:left;
	margin-bottom:5%;
	border-style:solid;
	border-width:1px;
}



body{
background-color:rgba(223,223,223,1)
}

#Topbar{
	background-image: url(../../Imagenes/Bars/TopBar.png);
	background-size: contain;
	position: absolute;
	top: 0px;
	left: 0%;    /* move the left edge to the center … */
	margin-left: 0px; /* … and move it to the left half the box’ width. */
	width: 100%;
	height: 20%;
	
}

#AllScren{
	position: fixed;
	top: 0px;
	left: 0%;    /* move the left edge to the center … */
	margin-left: 0px; /* … and move it to the left half the box’ width. */
	width: 100%;
	height: 100%;
	
}

p  .inblock{
	display:block;
}